# ==============================================================================
# Public
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
**/build/
**/dist/
**/wheels/
*.egg-info/
**/.venv/
**/venv/
**/ENV/
**/.cache/
**/.DS_Store
**/.vscode/
**/.idea/

# ==============================================================================
# Private
# ==============================================================================
data/98_dast/
data/
models/
data.zip
models.zip